@using MyParking.DAL.ViewData

@model ClienteViewData

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cliente</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cliente.NomeCliente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cliente.NomeCliente)
            @Html.ValidationMessageFor(model => model.Cliente.NomeCliente)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cliente.SobreNome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cliente.SobreNome)
            @Html.ValidationMessageFor(model => model.Cliente.SobreNome)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cliente.CPF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cliente.CPF)
            @Html.ValidationMessageFor(model => model.Cliente.CPF)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cliente.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cliente.Email)
            @Html.ValidationMessageFor(model => model.Cliente.Email)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cliente.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cliente.Telefone)
            @Html.ValidationMessageFor(model => model.Cliente.Telefone)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cliente.CEP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cliente.CEP)
            @Html.ValidationMessageFor(model => model.Cliente.CEP)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cliente.Endereco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cliente.Endereco)
            @Html.ValidationMessageFor(model => model.Cliente.Endereco)
        </div>

        <fieldset>
            <legend>Veículo</legend>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Cliente.Veiculo.PlacaVeiculo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Cliente.Veiculo.PlacaVeiculo)
                @Html.ValidationMessageFor(model => model.Cliente.Veiculo.PlacaVeiculo)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Cliente.Veiculo.CorVeiculo.NomeCor)
            </div>
            <div>
                @Html.DropDownListFor(model => model.Cliente.Veiculo.CorID, new SelectList(Model.ItensCor, "id_cor", "NomeCor", Model.ItensCor.First().id_cor), "Selecione")
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Cliente.Veiculo.MarcaVeiculo.NomeMarca)
            </div>
            <div>
                @Html.DropDownListFor(model => model.Cliente.Veiculo.MarcaID, new SelectList(Model.ItensMarca, "id_marca", "NomeMarca", Model.ItensMarca.First().id_marca), "Selecione")
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Cliente.Veiculo.ModeloVeiculo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Cliente.Veiculo.ModeloVeiculo)
            </div>

        </fieldset>

        <p>
            <input type="submit" value="Salvar" />
        </p>

        @if (Model != null)
        {
            if (Model.Resultado != null)
            {
                if (Model.Resultado.tipoResultado != MyParking.Framework.Result.TipoResult.OK)
                {
            <div class="Mensagem">
                @Html.Partial("_Mensagem", Model.Resultado)
            </div>
                }
            }
        }
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

