@model MyParking.DAL.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Cliente</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.NomeCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeCliente)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SobreNome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SobreNome)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CPF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPF)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CEP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CEP)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Endereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Endereco)
    </div>

    <fieldset>
        <legend>Veículo</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.veiculo.PlacaVeiculo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.veiculo.PlacaVeiculo)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.veiculo.corVeiculo)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.veiculo.marcaVeiculo.NomeMarca)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.veiculo.ModeloVeiculo)
        </div>

    </fieldset>

</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
