@model IEnumerable<MyParking.DAL.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo Cliente", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SobreNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.PlacaVeiculo)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobreNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Veiculo.PlacaVeiculo)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id_cliente }) |
            @Html.ActionLink("Detalhar", "Details", new { id = item.id_cliente }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.id_cliente })
            </td>
        </tr>
    }
</table>