@using MyParking.DAL.ViewData

@model EntradaVeiculoViewData

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);   
    
    <fieldset>
        <legend>Entrada de veículos</legend>
        
        <!--Criar Label-->
        <div class="display-label">
            @Html.DisplayNameFor(model => model.EntradaVeiculo.PlacaVeiculo)
        </div>
        <!--Crirar textbox-->
        <div class="editor-field">
            @Html.EditorFor(model => model.EntradaVeiculo.PlacaVeiculo)
            @Html.ValidationMessageFor(model => model.EntradaVeiculo.PlacaVeiculo)
        </div>
       
        <!--Criar botão salvar-->
         <p>
             <input type="submit" value="Salvar" />
        </p>
        

    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index");
</div>