
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <div id="container">
        <div id="header" title="sitename">
            <h1>MyParking</h1>
        </div>
        <div id="mainnav">
            <ul>
                <!--li><a href="../Cliente/Index">Clientes</a></li-->
                <li>@Html.ActionLink("Administração de Clientes", "Index", "Cliente")</li>
                <li>@Html.ActionLink("Marca de Veículo", "Index", "Marca")</li>
                <li>@Html.ActionLink("Cor de Veículo", "Index", "Cor")</li>
                <li>@Html.ActionLink("Registrar entrada de veículo", "Index", "EntradaVeiculo")</li>
                <li><a href="#">Saída de Veículo</a></li>
            </ul>
        </div>
        @if (true)
        {
            <div id="menu">
                <h3>Administração</h3>
                <ul>
                    <li><a href="../Usuario/Index">Administração de Usuários do Sistema</a></li>
                    <li>@Html.ActionLink("Configuração do tamanho do estacionamento", "Index","ConfVaga")</li>
                    <li><a href="#">Relatórios Gerenciais</a></li>
                </ul>
            </div>
        }
        <div id="footer">
            Copyright © MySolution - MyParking 2015
        </div>
    </div>
</body>
</html>
