@model IEnumerable<MyParking.DAL.Models.CorVeiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar nova cor", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCor)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id_cor }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.id_cor })
            </td>
        </tr>
    }
</table>
