@model MyParking.DAL.ViewData.MarcaViewData


@{
    ViewBag.Title = "Create";
}

<h2>Criar Nova Marca de Veículo</h2>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Marca de Veículo</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.MarcaVeiculo.NomeMarca)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MarcaVeiculo.NomeMarca)
            @Html.ValidationMessageFor(model => model.MarcaVeiculo.NomeMarca)
        </div>
        <p>
            <input type="submit" value="Salvar" />
        </p>

        @if (Model != null)
        {
            if (Model.Resultado != null)
            {
                if (Model.Resultado.tipoResultado != MyParking.Framework.Result.TipoResult.OK)
                {
            <div class="Mensagem">
                @Html.Partial("_Mensagem", Model.Resultado)
            </div>
                }
            }
        }

    </fieldset>
}

<div>@Html.ActionLink("Voltar", "Index")</div>
